[submodule ".vim/bundle"]
	path = .vim/bundle
	url = https://github.com/trombonehero/vim-bundle.git
[submodule ".ssh/public-keys"]
	path = .ssh/public-keys
	url = https://github.com/trombonehero/public-keys
[submodule ".mutt/mutt-gruvbox.git"]
	path = .mutt/gruvbox
	url = https://git.sthu.org/repos/mutt-gruvbox.git
[submodule ".config/alacritty/base16-alacritty"]
	path = .config/alacritty/base16-alacritty
	url = https://github.com/aarowill/base16-alacritty
