[user]
	name = Jonathan Anderson
	email = jonathan.anderson@mun.ca

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[core]
	excludesfile = ~/.git-global-ignore
[branch]
	autosetuprebase = always
[include]
	path = .local/gitconfig
[github]
	user = trombonehero
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[merge]
	conflictstyle = diff3
[cola]
	spellcheck = false
	theme = default
	statusindent = true
	fontdiff = Monospace,8,-1,5,50,0,0,0,0,0
[pull]
	ff = only
[init]
	defaultBranch = main
[gpg]
	program = gpg2
[status]
	submoduleSummary = true
