[user]
	name = Jonathan Anderson
	email = jonathan.anderson@ieee.org

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[core]
	excludesfile = ~/.git-global-ignore
[push]
	default = simple
[branch]
	autosetuprebase = always
